<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>
<body>
    <h1>Who are Editors?</h1>
    <p><b>Editors</b> are an English rock band, formed in 2002 in Birmingham. Previously known as Pilot, The Pride and Snowfield, the band currently consists of Tom Smith (lead vocals, guitar, piano), Russell Leetch (bass guitar, synthesiser, backing vocals), Ed Lay (drums, percussion, backing vocals), Justin Lockey (lead guitar), and Elliott Williams (keys, synthesisers, guitars, and backing vocals) </p>
</body>
</html>