<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editors Fan Page</title>
  <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>
<body>
  <h1>many works, but i love this one</h1>

  <p>On 26 November 2010 Smith announced on the band's website that they had started work on a new album, that it would again be produced by Flood, and that they were recording "in stages over 2011", and that first rehearsals started in "a matter of days".

    On 26 March 2011, Editors performed their first tour date of the year at the Royal Albert Hall as the headline act for the penultimate show in the 2011 Teenage Cancer Trust, during which they showcased two new songs, "Two Hearted Spider" and "The Sting".[40] In October 2011, Editors played their first shows ever in Latin America with two dates in Mexico City.
    
    In October 2011, Smith spoke to Q Radio about the new album. "It's still going to be fairly electronic, I think, compared to our earlier records. So far it feels quite muscular with a bit of swagger and a bit more of a groove. The last record was liberating in lots of different ways and I think we just need to, kind of, build on that..... with a nod to our past as well. It's our fourth record and we don't want to feel like we're doing the same thing again."[41]
    
    On 22 November 2011, Russell Leetch, the band's bassist posted on the band's official site saying they have seven songs ready to record and some more ideas "floating around" and that the album "will be with you next year."[42]
    
    On 16 April 2012, it was announced that Chris Urbanowicz had left the group due to a difference in musical direction.[43]
    
    Following Urbanowicz's departure the band played their first shows as a five piece with new members Justin Lockey and Elliott Williams in Birmingham, UK on 26 and 27 June 2012. On 29 June, they played at Main Square Festival in Arras, France, and on 30 June they headlined Rock Werchter festival in Belgium. At the shows they played new versions of "Two Hearted Spider" and "The Sting" as well as two new songs, "Sugar" and "Nothing".
    
    On 8 April 2013 Tom Smith stated, via his official Twitter account, that "the record is being mastered today. it's finished. done."[44]
    
    On 6 May 2013 Zane Lowe stated, via his official Twitter account, that the new Editors record would be entitled The Weight of Your Love. The first single for this album is "A Ton of Love". In February 2014 the band released their fourth single, "Sugar".[45]
    
    During 2014, Elliott Williams left the band for a period of touring to work on his own music project YdotOdotU, supporting The 1975. The band continued to tour with musician Nicholas Willes. </p>
</body>
</html>